/* style for the cards grid */
.cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 30px; 
}

/* styling */
.card {
    position: relative;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.card img {
    border-radius: 6px;
}

/* blurred background */
.card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    opacity: 0.8;
    z-index: -1;
}

.card-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* subtle dark overlay */
}

/* card content remains visible */
.card h2, .card p, .card address, .card button {
    position: relative;
    z-index: 1;
    color: white; /* readability */
}

.card:hover {
    transform: translateY(-5px);
}

/* blurred background effect */
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    opacity: 0.5;
    z-index: -1;
}

/* actual card content is above the blurred background */
.card h2, .card p, .card address, .card button {
    position: relative;
    z-index: 1;
}

/* Text styling */
.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card address {
    font-style: normal;
    margin: 10px 0;
}

.card p {
    font-size: 1em;
    margin: 10px 0;
}

/* button styling */
.card button {
    padding: 10px 15px;
    background-color: #003366;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #005799;
}

.sidebar {
    background-color: #ccc;
    padding: 10px 20px; /* Adjust padding for better spacing */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0.9em;
    color: #333;
}

/* Reduce padding on the last visit message */
#last-visit-message {
    padding: 5px 10px;
    font-size: 1rem;
}

/* responsive layout */
@media (min-width: 641px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .cards-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}