/* 768px and up */
@media (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        margin: 0;
    }

    .completed {
        background-color: saddlebrown;
        border-left: 5px solid #e0e0e0;
    }
    
    .not-completed {
        background-color: #654214;
        border-left: 5px solid #e0e0e0;
    }
    
}

